「Harry_Potter_Movies_Characters.csv」を読み込んで、以下のコメントどおりのプログラムを実装してください。

In [1]:
# pandasのインポート
import pandas as pd

In [2]:
# 「Harry_Potter_Movies_Characters.csv」を読み込み、df という変数に格納する
df = pd.read_csv("Harry_Potter_Movies_Characters.csv")

In [3]:
# dfの先頭から10行を表示する
df.head(10)

   Character ID      Character Name  ... Wand (Wood)         Wand (Core)
0             1        Harry Potter  ...       Holly     Phoenix Feather
1             2         Ron Weasley  ...         NaN                 NaN
2             3    Hermione Granger  ...        Vine  Dragon Heartstring
3             4    Albus Dumbledore  ...       Elder  Thestral Tail Hair
4             5       Rubeus Hagrid  ...         Oak                 NaN
5             6       Severus Snape  ...         NaN                 NaN
6             7  Minerva McGonagall  ...         Fir  Dragon Heartstring
7             8     Horace Slughorn  ...       Cedar  Dragon Heartstring
8             9           Voldemort  ...         Yew     Phoenix Feather
9            10  Neville Longbottom  ...      Cherry        Unicorn Hair

[10 rows x 8 columns]

In [5]:
# 例：df2 に 「Character Name」だけを列名を指定して代入する。ただし、df2にはSeries型で代入すること
df2 = df['Character Name']
df2

       Character Name
0        Harry Potter
1         Ron Weasley
2    Hermione Granger
3    Albus Dumbledore
4       Rubeus Hagrid
..                ...
161            Waiter
162             Boy 2
163             Crowd
164       Gryffindors
165        Professors

[166 rows x 1 columns]

In [ ]:
# df3 に 「Character Name」だけを取得し、代入する。ただし、locをつかってデータを取得し、Series型で取得しdf3に代入すること
df3 = df.loc[:, "Character Name"]

df3

0          Harry Potter
1           Ron Weasley
2      Hermione Granger
3      Albus Dumbledore
4         Rubeus Hagrid
             ...
161              Waiter
162               Boy 2
163               Crowd
164         Gryffindors
165          Professors
Name: Character Name, Length: 166, dtype: object

In [ ]:
# df4 に 「Character Name」だけを取得し、代入する。ただし、ilocをつかってデータを取得し、Series型で取得しdf4に代入すること
df4 = df.iloc[:, 1]
df4

0          Harry Potter
1           Ron Weasley
2      Hermione Granger
3      Albus Dumbledore
4         Rubeus Hagrid
             ...
161              Waiter
162               Boy 2
163               Crowd
164         Gryffindors
165          Professors
Name: Character Name, Length: 166, dtype: object

In [ ]:
# df5 に 「Character Name」だけを列名を指定して代入する。ただし、df5 にはDataFrame型で代入すること
df5 = df[["Character Name"]]

df5

       Character Name
0        Harry Potter
1         Ron Weasley
2    Hermione Granger
3    Albus Dumbledore
4       Rubeus Hagrid
..                ...
161            Waiter
162             Boy 2
163             Crowd
164       Gryffindors
165        Professors

[166 rows x 1 columns]

In [ ]:
# df6 に 「Character Name」と「House」を取得し、代入する。ただし、locをつかってデータを取得すること
# ヒント：隣り合わないデータは、stepを指定して取り出すことも可能
# DataFrame.loc[start:stop:step ,start:stop:step]
df6 = df.loc[:, "Character Name":"House":3]
df6 = df.loc[:, ["Character Name", "House"]]
df6 = df.iloc[:, 1:5:3]
df6

       Character Name       House
0        Harry Potter  Gryffindor
1         Ron Weasley  Gryffindor
2    Hermione Granger  Gryffindor
3    Albus Dumbledore  Gryffindor
4       Rubeus Hagrid  Gryffindor
..                ...         ...
161            Waiter         NaN
162             Boy 2         NaN
163             Crowd         NaN
164       Gryffindors         NaN
165        Professors         NaN

[166 rows x 2 columns]

In [ ]:
# df7 に 「Character Name」と「House」と「Patronus」を取得し、代入する。
# 取得する列名のリストを作成してから、対象となるデータをdf7に格納すること
target_col=['Character Name','House','Patronus']
df7 = df[target_col]
df7

       Character Name       House              Patronus
0        Harry Potter  Gryffindor                  Stag
1         Ron Weasley  Gryffindor  Jack Russell Terrier
2    Hermione Granger  Gryffindor                 Otter
3    Albus Dumbledore  Gryffindor               Phoenix
4       Rubeus Hagrid  Gryffindor                   NaN
..                ...         ...                   ...
161            Waiter         NaN                   NaN
162             Boy 2         NaN                   NaN
163             Crowd         NaN                   NaN
164       Gryffindors         NaN                   NaN
165        Professors         NaN                   NaN

[166 rows x 3 columns]

In [ ]:
# dfの内容を「Character Name」の昇順に並び替えて、最初の10行を表示してください。
df.sort_values('Character Name', ascending=True).head(10)

     Character ID        Character Name  ... Wand (Wood)         Wand (Core)
39             40  Aberforth Dumbledore  ...         NaN                 NaN
12             13         Alastor Moody  ...         NaN                 NaN
3               4      Albus Dumbledore  ...       Elder  Thestral Tail Hair
83             84          Albus Potter  ...         NaN                 NaN
119           120         Alecto Carrow  ...         NaN                 NaN
135           136                   All  ...         NaN                 NaN
66             67          Amos Diggory  ...         NaN                 NaN
73             74      Angelina Johnson  ...         NaN                 NaN
87             88         Arabella Figg  ...         NaN                 NaN
67             68                Aragog  ...         NaN                 NaN

[10 rows x 8 columns]

In [ ]:
# dfの内容を「Character Name」の降順に並び替えて、最初の15行を表示してください。
df.sort_values('Character Name', ascending=False).head(15)

     Character ID        Character Name  ... Wand (Wood)      Wand (Core)
115           116       Zacharias Smith  ...         NaN              NaN
33             34  Xenophilius Lovegood  ...         NaN              NaN
139           140                 Woman  ...         NaN              NaN
142           143                Wizard  ...         NaN              NaN
152           153                 Witch  ...         NaN              NaN
154           155       Whomping Willow  ...         NaN              NaN
114           115        Walburga Black  ...         NaN              NaN
145           146              Waitress  ...         NaN              NaN
161           162                Waiter  ...         NaN              NaN
8               9             Voldemort  ...         Yew  Phoenix Feather
79             80        Vincent Crabbe  ...         NaN              NaN
113           114           Viktor Krum  ...         NaN              NaN
20             21        Vernon Dursley  ...         NaN              NaN
144           145         Trolley witch  ...         NaN              NaN
23             24            Tom Riddle  ...         Yew  Phoenix Feather

[15 rows x 8 columns]

In [ ]:
# dfの内容を「Patronus」「Character Name」の昇順に並び替えて、最初の20行を表示してください。
# ヒント：複数のキーで並び替えをしたい場合は、引数のbyを記載せず、並べ替えたい列名のリストをセットする
li = ["Patronus", "Character Name"]
dfli = df.sort_values(li, ascending = True)
dfli.head(20)

     Character ID        Character Name  ... Wand (Wood)         Wand (Core)
117           118      Ernest Macmillan  ...         NaN                 NaN
14             15      Dolores Umbridge  ...       Birch  Dragon Heartstring
6               7    Minerva McGonagall  ...         Fir  Dragon Heartstring
44             45           Lily Potter  ...      Willow                 NaN
5               6         Severus Snape  ...         NaN                 NaN
28             29       Seamus Finnigan  ...         NaN                 NaN
39             40  Aberforth Dumbledore  ...         NaN                 NaN
24             25         Luna Lovegood  ...         NaN                 NaN
19             20         Ginny Weasley  ...         NaN                 NaN
1               2           Ron Weasley  ...         NaN                 NaN
60             61      Nymphadora Tonks  ...         NaN                 NaN
55             56  Kingsley Shacklebolt  ...         NaN                 NaN
2               3      Hermione Granger  ...        Vine  Dragon Heartstring
3               4      Albus Dumbledore  ...       Elder  Thestral Tail Hair
118           119        Michael Corner  ...         NaN                 NaN
0               1          Harry Potter  ...       Holly     Phoenix Feather
41             42          James Potter  ...    Mahogany                 NaN
54             55             Cho Chang  ...         NaN                 NaN
15             16        Arthur Weasley  ...         NaN                 NaN
10             11           Remus Lupin  ...     Cypress        Unicorn Hair

[20 rows x 8 columns]